# /etc/systemd/system/cctld.service

[Unit]
Description=CCTLD Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=cctld
ExecStart=/usr/local/bin/cctld

[Install]
WantedBy=multi-user.target
